body {
    font-size: 1.25rem; /* 20px */
    font-family: sans-serif;
}

.Pigeons {
    background-color: gray;
}

.Eagles {
    background-color: red;
}

.Doves {
    background-color: aqua;
}

.Parrots {
    background-color: green;
}

[v-cloak] {
    display: none;
}