<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Vue.js Fundamentals</title>
    <link rel="stylesheet" href="css/base.css">
</head>
<body>
    <div id="app">
        <label for="circle-color">
            <input id="circle-color" type="checkbox" v-model="isPurple">Purple
        </label>

        <select v-model="selectedColor">
            <option value="">White</option>
            <option value="text-black">Black</option>
            <option value="text-orange">Orange</option>
        </select>

        <div class="circle" :class="[selectedColor, circleClasses]">
            Hi!
        </div>
    </div>

    <script src="js/vue.global.js"></script>
    <script src="js/app.js"></script>
</body>
</html>